/*
 * You can just delete everything here or keep whatever you like, it's just a
 * quick baseline!
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
}

p {
	margin: 10px 0;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: auto;
	padding: 0 30px;
}

.logo {
	font-size: x-large;
	text-transform: uppercase;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	background-color: #f4f4f4;
	padding: 10px 30px;
	text-transform: uppercase;
}

.navbar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar li {
	margin-left: 20px;
}

.navbar ul li a {
	color: #000;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.navbar ul li a:hover {
	color: #333;
	border-bottom: 1px solid #333;
}

.btn {
	display: inline-block;
	background: #000;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	font-family: inherit;
}

.btn-reverse {
	background: #fff;
	color: #000;
	border-color: #000;
}

.btn:focus {
	outline: none;
}

.btn:active {
	transform: scale(0.98);
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-delete {
	background: darkred;
	color: #fff;
	border-color: darkred;
	font-size: 13px;
	padding: 5px 10px;
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.page-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.form-control {
	margin: 20px 0;
}

.form-control label {
	display: block;
}

.form-control input,
.form-control textarea {
	width: 100%;
	height: 40px;
	margin: 5px;
	padding: 3px 7px;
	font-size: 17px;
}

.form-control textarea {
	height: 200px;
}

.form-control-check {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form-control-check label {
	flex: 1;
}

.form-control-check input {
	flex: 2;
	height: 20px;
}

.posts-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
	justify-content: space-between;
	align-items: flex-start;
}

.posts-list li {
	padding: 20px;
	border: 1px #333 solid;
	border-radius: 5px;
}

.posts-list li h3 {
	margin-bottom: 5px;
}

.error {
	color: darkred;
}

.auth-container {
	max-width: 600px;
	margin: auto;
}

.auth-container h1 {
	text-align: center;
}

.auth-container .pageHeader {
	display: block;
}

.auth-container fieldset {
	padding: 15px;
	border-radius: 5px;
}

.auth-container fieldset label {
	margin-right: 10px;
}
:root {
	--color-foreground: hsl(0, 0%, 7%);
	--color-background: hsl(0, 0%, 100%);
	--color-links: hsl(213, 100%, 52%);
	--color-links-hover: hsl(213, 100%, 43%);
	--color-border: hsl(0, 0%, 82%);
	--font-body: -apple-system, "Segoe UI", Helvetica Neue, Helvetica, Roboto,
		Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:-moz-focusring {
	outline: auto;
}

:focus {
	outline: var(--color-links) solid 2px;
	outline-offset: 2px;
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--color-background);
	color: var(--color-foreground);
}

body {
	font-family: var(--font-body);
	line-height: 1.5;
}

a {
	color: var(--color-links);
	text-decoration: none;
}

a:hover {
	color: var(--color-links-hover);
	text-decoration: underline;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	background-color: var(--color-border);
	margin-top: 2rem;
	margin-bottom: 2rem;
}

input:where([type="text"]),
input:where([type="search"]) {
	display: block;
	border: 1px solid var(--color-border);
	width: 100%;
	font: inherit;
	line-height: 1;
	height: calc(1ch + 1.5em);
	padding-right: 0.5em;
	padding-left: 0.5em;
	background-color: hsl(0 0% 100% / 20%);
	color: var(--color-foreground);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.container {
	--gutter: 16px;
	width: 1024px;
	max-width: calc(100% - var(--gutter) * 2);
	margin-right: auto;
	margin-left: auto;
}

/*
 * You probably want to just delete this file; it's just for the demo pages.
 */
.remix-app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: calc(100vh - env(safe-area-inset-bottom));
}

.remix-app > * {
	width: 100%;
}

.remix-app__header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--color-border);
}

.remix-app__header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.remix-app__header-home-link {
	width: 106px;
	height: 30px;
	color: var(--color-foreground);
}

.remix-app__header-nav ul {
	list-style: none;
	margin: 0;
	display: flex;
	align-items: center;
	gap: 1.5em;
}

.remix-app__header-nav li {
	font-weight: bold;
}

.remix-app__main {
	flex: 1 1 100%;
}

.remix-app__footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: 1px solid var(--color-border);
}

.remix-app__footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.remix__page {
	--gap: 1rem;
	--space: 2rem;
	display: grid;
	grid-auto-rows: min-content;
	gap: var(--gap);
	padding-top: var(--space);
	padding-bottom: var(--space);
}

@media print, screen and (min-width: 640px) {
	.remix__page {
		--gap: 2rem;
		grid-auto-rows: unset;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.remix__page {
		--gap: 4rem;
	}
}

.remix__page > main > :first-child {
	margin-top: 0;
}

.remix__page > main > :last-child {
	margin-bottom: 0;
}

.remix__page > aside {
	margin: 0;
	padding: 1.5ch 2ch;
	border: solid 1px var(--color-border);
	border-radius: 0.5rem;
}

.remix__page > aside > :first-child {
	margin-top: 0;
}

.remix__page > aside > :last-child {
	margin-bottom: 0;
}

.remix__form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
}

.remix__form > * {
	margin-top: 0;
	margin-bottom: 0;
}
